**TF-IDF Implementation in Python**

- Muhammad Mahdi - 21/473808/PA/20431

Text:

*   A = "my man is not usually this ugly"
*   B = "my woman is not ugly and she is big"
*   C = "that man is ugly and very big

In [ ]:
A =  "my man is not usually this ugly"
B = "my woman is not ugly and she is big"
C = "that man is ugly and very big"

In [ ]:
import pandas as pd

In [ ]:
def TFs(wordDict, tokens):
    tfDict = {}
    wCount = len(tokens)
    for word, count in wordDict.items():
        tfDict[word] = count / float(wCount)
    return tfDict

In [ ]:
def token(doc):
  word = doc.split(' ')
  return word

In [ ]:
tA = token(A)
tB = token(B)
tC = token(C)

In [ ]:
unique1 = set(tA).union(set(tB))
unique = set(unique1).union(set(tC))
unique

{'and',
 'big',
 'is',
 'man',
 'my',
 'not',
 'she',
 'that',
 'this',
 'ugly',
 'usually',
 'very',
 'woman'}

In [ ]:
numA = dict.fromkeys(unique, 0)
for word in tA:
    numA[word] += 1

numB = dict.fromkeys(unique, 0)
for word in tB:
    numB[word] += 1

numC = dict.fromkeys(unique, 0)
for word in tC:
    numC[word] += 1

In [ ]:
df = pd.DataFrame([numA, numB, numC])
df

   my  and  ugly  big  usually  she  that  very  not  is  woman  this  man
0   1    0     1    0        1    0     0     0    1   1      0     1    1
1   1    1     1    1        0    1     0     0    1   2      1     0    0
2   0    1     1    1        0    0     1     1    0   1      0     0    1

In [ ]:
tfA = TFs(numA, tA)
tfB = TFs(numB, tB)
tfC = TFs(numC, tC)

In [ ]:
dfs = pd.DataFrame([tfA, tfB, tfC])
dfs

,my,and,ugly,big,usually,she,that,very,not,is,woman,this,man
0,0.142857,0.000000,0.142857,0.000000,0.142857,0.000000,0.000000,0.000000,0.142857,0.142857,0.000000,0.142857,0.142857
1,0.111111,0.111111,0.111111,0.111111,0.000000,0.111111,0.000000,0.000000,0.111111,0.222222,0.111111,0.000000,0.000000
2,0.000000,0.142857,0.142857,0.142857,0.000000,0.000000,0.142857,0.142857,0.000000,0.142857,0.000000,0.000000,0.142857

In [ ]:
import math
def IDF(doc):
    N = len(doc)
    idfDict = dict.fromkeys(doc[0].keys(), 0)
    for docs in doc:
        for word, val in docs.items():
            if val > 0:
                idfDict[word] += 1

    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [ ]:
idf = IDF([numA, numB, numC])
idf_df = pd.DataFrame([idf])
idf_df

,my,and,ugly,big,usually,she,that,very,not,is,woman,this,man
0,0.405465,0.405465,0.0,0.405465,1.098612,1.098612,1.098612,1.098612,0.405465,0.0,1.098612,1.098612,0.405465

In [ ]:
def TFIDF(tokens, idf):
    tfidf = {}
    for word, val in tokens.items():
        tfidf[word] = val * idf[word]
    return tfidf

In [ ]:
tfidfA = TFIDF(tfA, idf)
tfidfB = TFIDF(tfB, idf)
tfidfC = TFIDF(tfC, idf)
df = pd.DataFrame([tfidfA, tfidfB, tfidfC])
df

,my,and,ugly,big,usually,she,that,very,not,is,woman,this,man
0,0.057924,0.000000,0.0,0.000000,0.156945,0.000000,0.000000,0.000000,0.057924,0.0,0.000000,0.156945,0.057924
1,0.045052,0.045052,0.0,0.045052,0.000000,0.122068,0.000000,0.000000,0.045052,0.0,0.122068,0.000000,0.000000
2,0.000000,0.057924,0.0,0.057924,0.000000,0.000000,0.156945,0.156945,0.000000,0.0,0.000000,0.000000,0.057924

Dengan catatan:

*   0 = A
*   1 = B
*   2 = C